<link rel="stylesheet" href="<%= assetPath('css/student_info_css.css')%>" />

<h1>Student Info</h1>
<span><b>Student ID: </b><%= student.student_id%></span>
<span><b>Student Name: </b><%= student.name%></span>
<span><b>Student Email: </b><%= student.email%></span>
<span><b>Student College: </b><%= student.college%></span>
<span><b>Student Batch: </b><%= student.batch%></span>
<span><b>Student Status: </b><%= student.status%></span>
<span><b>Student Score: </b><%= student.score%></span>
<span><b>Student DSAScore: </b><%= student.DSAScore%></span>
<span><b>Student WebDScore: </b><%= student.WebDScore%></span>
<span><b>Student ReactScore: </b><%= student.ReactScore%></span>
