header {
  display: flex;
  /* border: 2px solid blue; */
  justify-content: space-between;
  align-items: center;
  width: 99%;
  height: 7vh;
  position: fixed;
  top: 0;
  /* margin: 10px 0px 30px 0px; */
  margin: 0;
  padding: 0px 10px;
  font-size: 20px;
  background-color: #000957;
  color: white;
}

.employee-name {
  display: flex;
  width: 14%;
  justify-content: space-between;
}

.employee-name > b {
  color: greenyellow;
}

.home-name > a,
.employee-name > a {
  color: white;
}
a {
  text-decoration: none;
}

.home-name > a,
.employee-name > a:visited {
  color: white;
}
a:hover {
  text-decoration: underline;
}
