main {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3 {
  font-size: 1.5vw;
  margin: 20px;
}

.download-btn {
  width: 8vw;
  height: 2vw;
  font-size: 1.1vw;
  border: none;
  cursor: pointer;
  background-color: #dd1c5e;
  color: white;
  border-radius: 5px;
}
.download-btn:hover {
  box-shadow: 0px 0px 10px 4px #e26792;
}
