main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  height: 80vh;
}

.interview-info {
  width: 50%;
  text-align: center;
}

h1 {
  font-size: 2vw;
}
h3 {
  font-size: 2vw;
}

h4 {
  font-size: 1vw;
}

.interview-student {
  width: 45%;
}

.display-result {
  color: #00a10b;
}

.save-result {
  background-color: rgb(117, 117, 190);
  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: white;
}

.company-name {
  color: rgb(218, 37, 164);
}
.interview-date {
  color: blue;
}

.student-name {
  color: rgb(163, 147, 0);
  font-style: italic;
  font-weight: bold;
}
