main {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50vh;
  background-color: #757bc8;
  box-shadow: 0px 0px 10px 1px #5961ce;
  border-radius: 10px;
  color: #fffcf7;
}

.sign-in-form > h3 {
  font-size: 2vw;
  margin: 0px 0px 10px 0px;
}

.emp-id,
.emp-pass {
  margin-bottom: 10px;
  width: 20vw;
  height: 5vh;
  border-radius: 5px;
  border: 2px solid #abc4ff;
  outline-color: rgb(108, 108, 255);
  outline-width: 1px;
  padding-left: 5px;
  font-size: 1.2vw;
}

.login-btn {
  height: 5vh;
  width: 10vw;
  color: white;
  font-size: 1.3vw;
  font-weight: bold;
  background-color: #ff5c8a;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.login-btn:hover {
  box-shadow: 0px 0px 10px 5px #f55c88;
}
